@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500;700;900&display=swap');

ul {
list-style: none;
}
a {
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Roboto;
}

/*header*/
.logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    color: black;
}
.web {
    color: #2196F3;;
}