ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", "Helvetica Neue", "Verdana", "Tahoma", sans-serif;
}

/*header*/
.upper-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: black;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.web {
  color: #2196f3;
}

.main-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: black;
}

.main-nav a:hover,
.main-nav a:focus {
  color: #2196f3;
}

.contacts a {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}

.nav .link.current {
  color: var(--accent-color);
}

/*header*/

/*main*/
.title {
  background-color: black;
}

.hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.order {
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.feauture h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.feauture p {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: #f5f4fa;
  font-size: 16px;
}
.team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*main*/

/*portfolio*/
.portfolio-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  background-color: #2196f3;
  color: white;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*portfolio*/

/*footer*/
footer {
  background-color: #2f303a;
  color: #ffffff;
  text-decoration: none;
}
.lower-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: #ffffff;
}
.footer-nav a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav a:focus {
  color: #2196f3;
}

.footer-nav .map {
  color: #ffffff;
}

/*footer*/
